# Python bytecode
__pycache__/

# Virtual environments
.venv/

# Environment variable files
.env

# UV (universal virtualenv manager)
uv.lock
.python-version

# Chainlit secret folders
.chainlit

# Temporary not adding litellm files
03_litellm/